#new_meme_msg {
  display: none;
}

#empty_fields_msg {
  display: none;
}

.meme_view {
  display: none;
}

#meme_img {
  width: 500px;
  height: 400px;
}

/* adapted from https://codepen.io/MetalEscape/pen/WrYxVM */
.meme {
  width: 500px;
  height: 400px;
  text-align: center;
  position: relative;
  background-size: contain;
  background-size: 100% 100%;
}

.meme_text {
  position: absolute; 
  left: 0;
  right: 0; 
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.bottom_text {
   bottom: 0;
 }

.top_text {
   top: 0;
 }